<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mobius Wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>network.mobius.wallet</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>21</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>$(CRASHLYTICS_API_TOKEN)</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to the media library. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to the bluetooth devices. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to your calendars. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSCameraUsageDescription</key>
	<string>Mobius Wallet needs access to your device camera to scan QR codes</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to your location. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to your location. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSLocationUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to your location. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to your location. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to your microphone. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSMotionUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to motion data. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to your photo library. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to your photos. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Mobius Wallet shouldn&apos;t request access to speech recognition. If you see this, please respond &apos;NO&apos; and contact support@mobius.network</string>
	<key>UIAppFonts</key>
	<array>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Helvetica Neue Bold.ttf</string>
		<string>Helvetica Neue Medium.ttf</string>
		<string>Helvetica Neue Thin.ttf</string>
		<string>Helvetica Neue.ttf</string>
		<string>Nunito Sans Bold.ttf</string>
		<string>Nunito Sans Light.ttf</string>
		<string>Nunito Sans Regular.ttf</string>
		<string>Nunito Sans SemiBold.ttf</string>
		<string>Roboto Bold.ttf</string>
		<string>Roboto Medium.ttf</string>
		<string>Roboto Thin.ttf</string>
		<string>Roboto.ttf</string>
		<string>Helvetica Neue Italic.ttf</string>
		<string>Nunito Sans Italic.ttf</string>
		<string>Roboto Italic.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
