<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Mobius Wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>28</string>
	<key>CodePushDeploymentKey</key>
	<string>$(CODE_PUSH_IOS_KEY)</string>
	<key>CodePushPublicKey</key>
	<string>-----BEGIN PUBLIC KEY-----
MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAprJ75f4s/O9Iu7jjnOXj
vptB7l5O1q4QwuJcVyDISl3OmSlgYMzWnZd90h6D+/YYxX5+RlV1r5mXUssCnVjJ
205p4nEGS5utKr5NbGGz3IXXelfTRUJETufZmfqyKnQaXGxhaZaEzpHqXa7N1Cwu
kqiB2/2wjb714THXLZD5nzyjsm8UUC5R6HgTEw+W0aD7B34MvjzZWxAx71Xoluon
Ehvua73CLzqk0HT8cPIbd7ZZYeBAmTP+DtkHkClxrovQP+gr5IyKrVlj7wj67HUX
0N3AWbQCYnZBXJnubBWqNgE7iV0RoOJ1NUZxgq/jy6lWRsp8uoQWSMLOVzNkpaum
xa4J0JH9dhMXK4gpAXt+tsGd1YSyB2hixFOdqBANGND74hxq68kZPSZrdOTZSSPi
bNPAuo4zeJ+bD4REFi/Gi4p7pMhC43etdilVQgdo3hsUiRIplAbQR2Y0vC9MoZRB
TAIrlVjK1qx25VTnux5ybEhzDjwIyxbTaQXKMvD0oSPUlr85Jjb6OKtGdPsdBA+f
LvwwkkoSTIs1QSCXDyYMo3InEusPtj2Dc9K8EGfHMELJVRgCrZSqlWtL9WDZIJiL
y4rbHDP6ydMy2QesJlCoFnH54EiIqRVrTaNAvoervcCBK4BBC2q3ulRUdb2J0VJy
dIuuaeHevKbkp5GFMc09r9kCAwEAAQ==
-----END PUBLIC KEY-----
</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>$(CRASHLYTICS_API_TOKEN)</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to the media library. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to the bluetooth devices. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to your calendars. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSContactsUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to your contacts. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSCameraUsageDescription</key>
	<string>Mobius Wallet needs access to your device camera to scan QR codes</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to your location. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to your location. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSLocationUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to your location. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to your location. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to your microphone. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSMotionUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to motion data. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to your photo library. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to your photos. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Mobius Wallet shouldn't request access to speech recognition. If you see this, please respond 'NO' and contact support@mobius.network</string>
	<key>UIAppFonts</key>
	<array>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Helvetica Neue Bold.ttf</string>
		<string>Helvetica Neue Medium.ttf</string>
		<string>Helvetica Neue.ttf</string>
		<string>Nunito Sans Bold.ttf</string>
		<string>Nunito Sans Regular.ttf</string>
		<string>Roboto Bold.ttf</string>
		<string>Roboto Medium.ttf</string>
		<string>Roboto.ttf</string>
		<string>Helvetica Neue Italic.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
