{
  "presets": [
    "react-native",
    "@babel/preset-flow",
    "module:react-native-dotenv"
  ],
  "plugins": [
    [
      "babel-plugin-module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
