import React, { Component } from 'react';
// import PropTypes from 'prop-types';

import { Container, Title } from './styles';

class {{ properCase name }} extends Component {
  static propTypes = {
    // name: PropTypes.string.isRequired,
  }

  render() {
    return (
      <Container>
        <Title>{{ properCase name }}</Title>
      </Container>
    );
  }
}

export default {{ properCase name }};
