BUNDLE_LOADER = $(TEST_HOST)
INFOPLIST_FILE = MobiusMobileWalletTests/Info.plist
OTHER_LDFLAGS = $(inherited) -ObjC -lc++
PRODUCT_BUNDLE_IDENTIFIER = network.mobius.wallet.$(PRODUCT_NAME:rfc1034identifier)
PRODUCT_NAME = $(TARGET_NAME)
TEST_HOST = $(BUILT_PRODUCTS_DIR)/MobiusMobileWallet.app/MobiusMobileWallet

FRAMEWORK_SEARCH_PATHS = $(inherited) "$(PROJECT_DIR)"
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)/$(TARGET_NAME)"
