ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
INFOPLIST_FILE = MobiusMobileWallet/Info.plist
PRODUCT_BUNDLE_IDENTIFIER = network.mobius.wallet
PRODUCT_NAME = $(TARGET_NAME)

FRAMEWORK_SEARCH_PATHS = $(inherited) "$(PROJECT_DIR)"
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
LIBRARY_SEARCH_PATHS = $(inherited) "$(SRCROOT)/$(TARGET_NAME)"

OTHER_LDFLAGS = $(inherited) -ObjC -lc++

